*{
  margin:0;
  padding:0;
}

body{
  font-size: 14px;
  color: #333;
}

.wrapper{
  background-color: #000;
  width: 100%;
  height: auto;
  min-height: 300px;
  position: relative;
}

.bgslide{
	background-image: url(image/bg.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	min-height: 1080px;
}

.logo{
	width: 100px;
	height: auto;
	display: inline-block;
	float: left;
	padding: 5px;
}

img{
	width: 100%;
}

.nav-bar{
	width: auto;
	height: auto;
	display: inline-block;
	float: right;
}

.nav-bar ul li{
	list-style-type: none;
	display: inline-block;
	padding: 30px 35px;
}

.nav-bar ul li a{
	color: #fff;
	text-decoration: none;
	font-family: open sans;
	font-size: 18px;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
}

.nav-bar ul li a:hover{
	color: yellow;
}

.play-button{
	width: 150px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: pointer;
	-webkit-transition: all ease 0.4s;
	-moz-transition: all ease 0.4s;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

.play-button:hover{
	width: 115px;
}